.leaflet-container {
  display: flex;
  height: 40rem; /* <-- map height */
  width: 100%;
  border: groove;
  margin: auto;
  z-index: auto;
}

.leaflet-pane {
  height: auto; /* <-- map height */
  width: auto;
}

.leaflet-popup {
  position: fixed;
}

.leaflet-popup-content-wrapper {
  width: 15rem;
}
